# Environment vars file for Gulp builder container. Injected by docker-compose.
# Do not check in your passwords. Instead, make a copy of this file, replace 
# the values with your LDAP credentials, and reference this file from 
# docker-compose.yml, or inject them manually with `docker run -e ...`

# NPM credentials for private registry

NPM_HOSTNAME=
NPM_USERNAME=
NPM_PASSWORD=
NPM_EMAIL=

# Github credentials for JSPM

GITHUB_USERNAME=
GITHUB_TOKEN=
